<%= form_for(@kookoo) do |f| %>
  <% if @kookoo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kookoo.errors.count, "error") %> prohibited this kookoo from being saved:</h2>

      <ul>
      <% @kookoo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
